<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="${basedir}/logs/internal.log">

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <targets>
    <target
      xsi:type="File"
      name="file"
      filename="logs/${shortdate}-${level}.log">

      <layout xsi:type="JsonLayout">
        <attribute name="logger_name" layout="${logger}"/>
        <attribute name="machine_name" layout="${machinename}"/>
        <attribute name="message" layout="${message}"/>
        <attribute name="exception" layout="${exception:format=ToString,StackTrace}"/>
        <attribute name="aspnet_request_host" layout="${aspnet-request-host}" />
        <attribute name="aspnet_request_ip" layout="${aspnet-request-ip}" />
        <attribute name="aspnet_request_method" layout="${aspnet-request-method}" />
        <attribute name="aspnet_request_form" layout="${aspnet-request-form}" />
      </layout>
    </target>
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="file" />
  </rules>
</nlog>
